.days-slider {
    position: relative;
    width: 100%;
    height: 6px;
}

.track {
    position: absolute;
    inset: 0;
    background: var(--Indigo-200, #9B9AE6);
    height: 3px;
    border-radius: 10px;
}

.range {
    position: absolute;
    height: 3px;
    background: var(--Indigo-300, #5856D6);
    border-radius: 10px;
    z-index: 1;
}

.days-slider input {
    position: absolute;
    width: 100%;
    height: 6px;
    top: 0;
    pointer-events: none;
    appearance: none;
    background: none;
    z-index: 2;
}

.days-slider input::-webkit-slider-thumb {
    pointer-events: all;
    width: 16.215px;
    height: 16px;
    border-radius: 13px;
    border: 1px solid var(--Indigo-300, #5856D6);
    background: var(--Indigo-100, #EEEEFB);
    cursor: pointer;
    appearance: none;
    z-index: 3;
    position: relative;
}