.root {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 392px;
  height: 52px;
  padding: 6px;
  background-color: #eeeefb;
  border-radius: 12px;
  gap: 10px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #a2845e;
  position: relative;
}

.iconWrapper svg {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 8px;
  top: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  min-width: 0;
  gap: 2px;
  width: 324px;
  padding-top: 3.5px;
}

.title {
  color: var(--opacity-dark-opacity-80, rgba(0, 0, 0, 0.8));
  font-family: Onest;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
}

.price {
  color: var(--opacity-dark-opacity-80, rgba(0, 0, 0, 0.8));
  font-family: Onest;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 13px;
}
