.headerContainer {
  position: relative;
  height: 722px;
  overflow: visible;

  display: flex;
  flex-direction: column;
  padding-top: 160px;
  align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
    background: url('https://www.figma.com/api/mcp/asset/76370f78-f63f-4745-94a8-af3bbf0a3f68') lightgray 0.346px -373.858px / 100% 319.884% no-repeat;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  z-index: -1;
}

.logoSvg {
  width: 565px;
  height: 149px;
  margin-top: 0px;
}

.headerTitle {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 100%;
  margin-top: 22px;
  margin-bottom: 14px;
}