.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-family: var(--font-family-base);
  color: var(--color-secondary-100);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-100);
  letter-spacing: var(--letter-spacing-none);
}

