.root {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 392px;
  height: 52px;
  padding: 6px;
  background-color: #f5f5fa;
  border-radius: 12px;
  gap: 10px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8f8f8f;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 0;
  gap: 2px;
}

.name {
  color: var(--opacity-dark-opacity-80, rgba(0, 0, 0, 0.8));

  /* Text/cuption */
  font-family: Onest;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  color: var(--opacity-dark-opacity-80, rgba(0, 0, 0, 0.8));
  font-family: Onest;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
